@{
  Layout = "_Layout";
}

@model Bakery.Models.Flavor

<div class="content">
  <h2>Flavor Details</h2>
  <hr />
  <h3>@Html.DisplayFor(model => model.Name)</h3>

  @if(@Model.Treats.Count == 0)
  {
    <p>This category does not contain any items</p>
  }
  else
  {
    <h4>Treats with this flavor:</h4>
    <ul>
    @foreach(var join in @Model.Treats)
    {
      <li class="inline">@Html.ActionLink($"{@join.Treat.Name}", "Details", "Treats", new { id = join.Treat.TreatId })</li>
      @using (Html.BeginForm("DeleteTreat", "Flavors"))
      {
        @Html.Hidden("joinId", @join.FlavorTreatId)
        <input class="btn btn-light btn-sm" type="submit" value="Delete" /><br>
      }
    }
    </ul>
  }
  <div class="btn-group" role="group">
    <button class="btn btn-dark">@Html.ActionLink("Add Treat", "AddTreat", new { id = @Model.FlavorId })</button>
    <button class="btn btn-dark">@Html.ActionLink("Edit Flavor", "Edit", new { id = @Model.FlavorId })</button>
    <button class="btn btn-dark">@Html.ActionLink("Delete Flavor", "Delete", new { id = @Model.FlavorId })</button>
  </div>
</div>